.container{
    border: 0px solid black;
    margin:0;
    
}   
.details {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      font-size: 16px;
} 
.detail {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      font-size: 16px;
}
.container3{
    border: 0px;
    margin:0;
}
 .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      font-size: 16px;
    }